{% extends "bookmarks/base.html" %}
{% block title %}bootstrap table example{% endblock %}
{% block content %}
<h1>Bookmarks</h1>
<div class="container">
  <div id="alerts"></div>
  <div id="toolbar">
    <button id="addButton" class="btn btn-default" data-toggle="modal" data-target="#addDialog">追加</button>
    <button id="deleteButton" class="btn btn-default disabled" data-toggle="modal" data-target="#deleteDialog">削除</button>
  </div>
  <table id="table"
         class="bookmarks-table"
         data-toggle="table"
         data-striped="true"
         data-toolbar="#toolbar"
         data-url="/api/v1/bookmarks/"
         data-click-to-select="true"
         data-show-toggle="true"
         data-show-columns="true"
         data-pagination="true"
         data-side-pagination="server"
         data-query-params="saveBrowserHistory"
         data-page-list="[10, 25, 50, 100]"
         data-search="true">
    <col class="bookmarks-table-select-column"/>
    <col class="bookmarks-table-id-column"/>
    <col class="bookmarks-table-title-column"/>
    <col class="bookmarks-table-url-column"/>
    <col class="bookmarks-table-bookmarked-at-column"/>
    <thead>
      <tr>
        <th data-field="state" data-radio="true"></th>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="url" data-sortable="true" data-formatter="urlFormatter">URL</th>
        <th data-field="title" data-sortable="true">タイトル</th>
        <th data-field="bookmarked_at" data-sortable="true" data-formatter="datetimeFormatter">作成日時</th>
      </tr>
    </thead>
  </table>
</div>
<div class="modal fade" id="addDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ブックマークの登録</h4>
      </div>
      <div class="modal-body">
        <div class="alerts-container"></div>
        <form>
          <div class="form-group">
            <label for="addDialogURL">URL</label>
            <input type="text" class="form-control" id="addDialogURL">
          </div>
          <div class="form-group">
            <label for="addDialogTitle">タイトル</label>
            <input type="text" class="form-control" id="addDialogTitle">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary" id="addDialogAddButton">追加</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="deleteDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ブックマークを削除しますか？</h4>
      </div>
      <div class="modal-body">
        <div class="alerts-container"></div>
        <dl>
          <dt>URL</dt><dd id="deleteDialogBookmarkURL"></dd>
          <dt>タイトル</dt><dd id="deleteDialogBookmarkTitle"></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary" id="deleteDialogDeleteButton">削除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block script %}
<script>
var $table = $('#table');

function addSortOptions(options) {
  var uri = new URI(),
      paramsInURI = uri.query(true),
      sort = paramsInURI.sort,
      order = paramsInURI.order;
  if ($.inArray(sort, ['id', 'url', 'title', 'bookmarked_at']) !== -1) {
    options.sortName = sort;
  }
  if ($.inArray(order, ['asc', 'desc']) !== -1) {
    options.sortOrder = order;
  }
  console.log('options', options);
  return options;
}

$table.bootstrapTable(addSortOptions({
  onCheck: function() {
    $('#deleteButton').removeClass('disabled');
  }
}));

function saveBrowserHistory(params) {
  var uri = new URI(),
      newURL;
  uri.query(params);
  newURL = '' + uri;
  if (newURL !== window.location.href) {
    window.history.pushState(undefined, document.title, '' + uri);
  }
  return params;
}

$('#addButton').on('click', function(e) {
  $('#addDialogURL').val('');
  $('#addDialogTitle').val('');
});

$('#addDialogAddButton').on('click', function(e) {
  var apiURL = '/api/v1/bookmarks/',
      url = $('#addDialogURL').val(),
      title = $('#addDialogTitle').val();
  $.ajax({
    url: apiURL,
    method: 'POST',
    headers: {
      'X-CSRFToken': $.cookie('csrftoken')
    },
    data: {
      url: url,
      title: title
    }
  })
  .done(function(data, textStatus, jqXHR) {
    $('#addDialog').modal('hide');
    showSuccessFlashMessage('ブックマークが登録されました');
    refreshTable();
  })
  .fail(function(jqXHR, textStatus, errorThrown) {
    showErrorInDialog('addDialog', jqXHR);
  });
})

$('#deleteButton').on('click', function(e) {
  var row = getSelectedRow();
  $('#deleteDialogBookmarkURL').html(row.url);
  $('#deleteDialogBookmarkTitle').html(row.title);
});

$('#deleteDialogDeleteButton').on('click', function(e) {
  var row = getSelectedRow();
  var apiURL= '/api/v1/bookmarks/' + row.id + '/';
  $.ajax({
    url: apiURL,
    method: 'DELETE',
    headers: {
      'X-CSRFToken': $.cookie('csrftoken')
    },
  })
  .done(function(data, textStatus, jqXHR) {
    $('#deleteDialog').modal('hide');
    deleteSelectedRows();
  })
  .fail(function(jqXHR, textStatus, errorThrown) {
    showErrorInDialog('deleteDialog', jqXHR);
  });
});

function showSuccessFlashMessage(message) {
  $('#alerts').prepend(
    '<div class="alert alert-success" role="alert">' + message + '</div>'
  );
  setTimeout(function() {
    $('#alerts').empty();
  }, 5000);
}

function showErrorInDialog(dialogID, jqXHR) {
  var message = jqXHR.responseJSON ? jqXHR.responseJSON.errors[0].title : jqXHR.statusText;
  $('#' + dialogID + ' .alerts-container').prepend(
    '<div class="alert alert-danger" role="alert">' + message + '</div>'
  );
  $('#' + dialogID).one('hidden.bs.modal', function() {
    $('#' + dialogID + ' .alerts-container').empty();
  });
}

function refreshTable() {
  $table.bootstrapTable('refresh');
  $('#deleteButton').addClass('disabled');
}

function getSelectedRow() {
  return $table.bootstrapTable('getSelections')[0];
}

function deleteSelectedRows() {
  var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
    return row.id;
  });
  $table.bootstrapTable('remove', {
    field: 'id',
    values: ids
  });
}

function urlFormatter(value) {
  if (/^https?:\/\//.test(value)) {
    return '<a href="' + value + '" target="_blank">' + value + '</a>';
  } else if (/^smb:\/\//.test(value)) {
    return value.substr('smb:'.length).replace(/\//g, '\\');
  } else {
    return value;
  }
}
function datetimeFormatter(value) {
  var dt = new Date(Date.parse(value));
  return dt.getFullYear() + '/' + format2digit(dt.getMonth() + 1) + '/' + format2digit(dt.getDay()) + ' ' +
    format2digit(dt.getHours()) + ':' + format2digit(dt.getMinutes()) + ':' + format2digit(dt.getSeconds());
}
function format2digit(value) {
  return value < 10 ? '0' + value : '' + value;
}
</script>
{% endblock %}
