#toolbar .btn-group {
  margin-right: 4px;
}

.bookmarks-table {
  table-layout: fixed;
}
.bookmarks-table-id-column {
  width: 5%;
}
.bookmarks-table-title-column {
  width: 40%;
}
.bookmarks-table-url-column {
  width: 40%;
}
.bookmarks-table-bookmarked-at-column {
  width: 15%;
}
.bookmarks-table td {
  word-wrap: break-word;
}
